<div class="about_us">
  <div class="row">
    <div class="col-md-12">
      <h1 class="page-header">About Us
        <small>It's Nice to Meet You!</small>
      </h1>
      <p>We come true your dreams</p>
    </div>
  </div>

  <!-- Team Members Row -->
  <div class="row">
    <div class="col-md-12 ">
      <h2 class="page-header">Our Team</h2>
    </div>
    <div class="col-md-6 col-sm-6 text-center">
      <div class="col-md-4">
        <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
      </div>
      <div class="col-md-4"></div>
      <h3>Bilal Naeem
          <small>CEO</small>
      </h3>
      <p>Bilal Naeem is the CEO of Lahore Realestate and Builders. </p>
    </div>
    <div class="col-md-6 col-sm-6 text-center">
      <div class="col-md-4">
        <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
      </div>
      <div class="col-md-4"></div>
      <h3>Nabeel
        <small>Director</small>
      </h3>
      <p>Mr Nabeel is Director of Realestate And Builders. </p>
    </div>
  </div>
</div>