<body>
  <div class="container">
    <h2>Real Estate and Builders</h2>>
      <button type="button" class="btn btn-danger btn-lg" id="myBtn">signup</button>
  
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog"> 
      <div class="modal-dialog">
        <!--Modal Contant-->
        <!--Modal Head-->
        <div class="modal-content">
          <div class="modal-header">
            <h4><span class="glyphicon glyphicon-user"></h4>

            <button type="button" class="close" data-dismiss="modla">&times;</button>
          </div>
          <!--Modla body-->
          <div class="modal-body">
            
            <form role="form">
              <div class="form-group">
                <label for="usrname"><span class="glyphicon glyphicon-user "></span>Username</label>
                <input type="text" name="form-control" id="usrname" placeholder="Enter username">
              </div>


            <form role="form">
              <div class="form-group">
                <lable for="fullname">Fullname</lable>
                <input type="text" name="form-control" id="fullname" placeholder="Enter fullname">
              </div>
            
            <form role="form">
            <div>
                <lable for="email">Email</lable>
                 <input type="text" name="form-control" id="email" placeholder="Enter email">
            </div>
          
            <form role="form">
            <div>
              <lable for="pswd">Password</lable>
              <input type="text" name="form-control" id="pswd" placeholder="Enter password"
             </div>    
           
          </div>
         

      
      </div>

    </div>
      

  </div>
</body>
