<article class="col2">
  <form id="form_1" action="#" method="post">
    <div class="pad1">
      <h3>Find Your Property</h3>
      <div class="row">City:<br>
        <input type="text" class="input">
      </div>
      <div class="row_select">Select Town:<br>
        <select>
          <option>&nbsp;</option>
          <option>...</option>
          <option>...</option>
        </select>
      </div>
      <div class="row_select">
        <div class="cols"> Price From:<br>
          <select>
            <option>&nbsp;</option>
            <option>...</option>
            <option>...</option>
          </select>
        </div>
        <div class="cols pad_left1"> Price to:<br>
          <select>
            <option>&nbsp;</option>
            <option>...</option>
            <option>...</option>
          </select>
        </div>
      </div>
      <div class="row_select">
        <div class="cols"> Square Feet From:<br>
          <select>
            <option>&nbsp;</option>
            <option>...</option>
            <option>...</option>
          </select>
        </div>
        <div class="cols pad_left1"> Square Feet to:<br>
          <select>
            <option>&nbsp;</option>
            <option>...</option>
            <option>...</option>
          </select>
        </div>
      </div>
      <div class="row_select pad_bot1">
        <div class="cols" style="visibility: hidden;"> Radius:<br>
          <select>
            <option>&nbsp;</option>
            <option>...</option>
            <option>...</option>
          </select>
        </div>
        <div class="cols pad_left1"> <a href="#" class="button">Search</a> </div>
      </div>
      Know exactly what you want? <br>
      Try our <a href="#">Advanced Search</a> </div>
  </form>
</article>