<div class="contact_us">
  <div class="row">
    <div class="col-md-12">
      <h1 class="page-header">Contact Us
        <small>It's Nice to Meet You!</small>
      </h1>
        <p>Lahore Real Estate (Pvt) </br>
          (Where Dreams Come True) </br>
           Bilal Naeem : +92-344-4300063</br>
          46-MB(Main Boulevard), DHA Phase 6 Lahore

        </p>
    </div>
  </div>
</div>