<div class="jumbotron">
  <div class="container text-center">
    <h2>Real Estate and Builders</h2>      
    <p>Click for Login and Register</p>
    <div class="container">
    <a href="login" class="glyphicon glyphicon-log-in btn btn-link " role="button">Login</a>
    <a href="signup" class="glyphicon glyphicon-user btn btn-link " role="button">signup</a>
   
    </div>
  </div>
</div>