<div class="container-fluid">
  <nav class='navbar navbar-inverse'>
    <ul class='nav navbar-nav'>
      <li><a href='mypage.html' > <span class="glyphicon glyphicon-home"></span>Home</a></li>
      <li><a href='#'> Add record</a> </li>
      <li><a href='#'> Show record</a> </li>
      <li><a href='#'> About Us </a></li>
      <li><a href='#'> Contact Us </a></li>
    </ul>
    <ul class='nav navbar-nav pull-right'>
      <li> <a href='/signout' method='post'><span class="glyphicon glyphicon-user"></span> Sign Out </a></li>
    </ul>
  </nav>
</div>