// Place all the styles related to the properties controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#form_1 .row {
  margin-left: 15px;
}
#form_1 {
  height: 377px;
}

#page1 {
	overflow-x: hidden;
}
.pad_bot2 {
	padding-right: 40px;
}