.container-fluid {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.navbar {
  border-radius: 0px !important;
}

a.active {
  color: white !important;
}

.record-form {
  margin-left: 25%;
  margin-right: 25%;
}