<!DOCTYPE html>
<html>
  <head>
    <title>RealEstate</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>

  <body>
    <div class="container-fluid">
      <nav class='navbar navbar-inverse'>
        <ul class='nav navbar-nav'>
          <li><a href='/admin/records'> Show records</a> </li>
          <li><a href='records/new'> Add record</a> </li>
        </ul>
        <ul class='nav navbar-nav pull-right'>
          <li> <a href='/admin/signout' method='post'><span class="glyphicon glyphicon-user"></span> Sign Out </a></li>
        </ul>
      </nav>
      <%= yield %>
    </div>
  </body>
</html>
